body {
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;

  font-family: "Assistant", sans-serif;
}

.container {
  width: 100%;
  /* max-width: 100%; */
  display: flex;
  /* grid-template-columns:15% 25% 60%; */
  flex-direction: row;
  /* justify-content: right; */
  /* margin-right: 0px; */
  box-sizing: content-box !important;
  direction: rtl;
  height: 100vh;
  margin-right: 0px;
  padding-right: 0px;
}
.box {
  height: 100px;
}
#schools {
  width: 100%;
}
.schools {
  /* border: 2px solid goldenrod; */

  /* height: 100px ; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  /* margin-right: 20px; */
  /* font-weight: bold; */
}

.all_schools {
  width: 100%;
  background-color: #cbe0e9;
  padding: 8px;
  /* margin-: 20px; */
  font-family: "Assistant", sans-serif;
  margin-top: 17px;
  padding-right: 22px;
  padding-left: 22px;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Assistant", sans-serif;
  /* grid-column: 1/6; */
  overflow: hidden;
  width: 12%;
  height: 100%;
  margin-right: 0px;
  /* justify-content: right; */
  align-items: center;
  overflow: hidden;
  position: relative;
  /* background-image: url('../lib/Images/students images/Group 7@2x.png'); */

  min-height: 100%;
  background-image: url("../lib/Images/students_images/img_blue.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.box2 {
  /* grid-column: 6/8; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  background-color: #ebf0f2;
  width: 20%;
  padding: 0px;
}

#box4 {
  margin-top: 20px;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-item {
  margin-top: 20px;
}
.nav-link {
  width: 180px;
  /* margin-left: 20px;
    margin-right: 10px; */
}
.ulNav {
  padding: 0px;
  font-family: "Assistant", sans-serif;
  justify-content: right;
  width: 180px;
  position: absolute;
  z-index: 100;
}

.buttons {
  flex-basis: 20%;
  padding: 33px;

  /* margin-top: 20px; */
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  gap: 20px;
}
.schools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: "Assistant", sans-serif;
}
.newschool {
  border: 2px solid red;
}
.school {
  /* border:2px solid red; */
  font-size: large;
  text-align: center;
}

.Icon {
  width: 15px;
  height: 15px;
  background-color: green;
  border: 1px solid red;
}

#schools {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100%;
}

.div_school {
  padding: 8px;
  /* border-top: 1px solid rgba(255, 0, 0); */
  /* overflow: hidden; */
  /* margin-top: 10px; */
  /* border: 1px solid skyblue; */
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* border-top: 1px solid gray; */
  border-bottom: 1px solid rgba(119, 122, 119, 0.3);
  padding-right: 22px;
  padding-left: 22px;
}

#AllBusesAndStudents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#divOfStudents {
  color: #0682bc;
}

.name_school {
  font-family: "Assistant", "sans-serif";
  font-weight: bold;
}
.summary_div {
  display: flex;
  flex-direction: row;
  /* border: 1px solid blue; */
  justify-content: space-between;
  margin-bottom: 5px;
  font-family: "Assistant, sans-serif";
}

.spanWithAlert_school {
  border-color: green;
  color: greenyellow;
  display: none;
  margin-bottom: 3px;
  /* border: 1px solid green; */
}

.spanWithAlert_school {
  color: red;
}

.datePeacker {
  width: 140px;
  margin-left: 10px;
  border: none;
  font-weight: 400;
  font-family: "Roboto";
  font-size: large;
  margin-top: -14px;
}

.searchStudent {
  margin-top: -14px;
  border: 1px solid grey;
}

.titleSchools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ebf0f2;
  margin-bottom: 20px;
  padding: 3px;
  border-radius: 5px;
  width: 190px;
  font-weight: bold;
  font-size: 24px;
  margin-top: 25px;
}

.titleTravelsOnDay {
  font-weight: bold;
  margin-left: 55px;
  margin-top: -6px;
}

.iconSearch {
  margin-top: -27px;
  /* margin-left: 20px; */
}
#schools::-webkit-scrollbar {
  direction: ltr;
  width: 2px;
}
#schools::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  height: 150px;
}
body {
  /* direction: rtl; */
  font-family: "Assistant", sans-serif;
}
.my_donut1 {
  /* border: 1px solid lightgrey; */
  padding: 20px;
  /* margin: auto; */
  /* border: 1px solid black; */
  /* width: 500px; */
  flex-basis: 50%;
  box-shadow: rgba(138, 136, 136, 0.24) 0px 0px 15px;
  border-radius: 6px;
  background-color: white;
}

.my_donut2 {
  /* border: 1px solid lightgrey; */
  box-shadow: rgba(138, 136, 136, 0.24) 0px 0px 15px;
  padding: 20px;
  flex-basis: 50%;
  border-radius: 6px;
  background-color: white;
}

.parent-box {
  display: flex;
  align-items: center;
  width: 250x;
  margin-right: 10px;
}
.box {
  margin-left: 5px;
  height: 10px;
  width: 10px;
}
.counter {
  padding-left: 3px;
}
.box-error {
  background-color: #c94646;
}
.box-success {
  background-color: #0681bb;
}
.box-warning {
  background-color: #b8b8b8;
}
.box-primary {
  background-color: cadetblue;
}

#chart,
#chart2 {
  height: 50%;
  text-align: center;
  /* margin-top: 20px; */
}
.box3 {
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  background-color: #fcfcfc;
}

#container_box3 {
  /* margin-right: 30px;
  margin-left: 30px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: #fcfcfc;
}

.buttons_box3 {
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4px;
  border-radius: 4em;
  padding: 10px;
}

.AllDonuts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  height: 45%;
  margin-top: 0px;
  /* flex-grow: 2; */
}
.my_table {
  height: 240px;
  width: 100%;

  /* flex-basis: 50%; */
}

.all {
  margin-top: 0px;
  font-size: 1em;
  color: yellow;
}

.inputDate {
  height: 40px;
  width: 150px;
  border: none;
  /* margin-top: 15px; */
  font-weight: bold;
  /* margin-right: -100px; */
  font-size: 20px;
  cursor: pointer;
}

.inputSearchStudent {
  height: fit-content;
  background-color: #ebf0f2;
  /* background: #EBF0F2 0% 0% no-repeat padding-box; */
  padding: 5px;
  border-radius: 2em;
  /* border: 2px solid red; */
}
.dataTables_filter,
.dataTables_info {
  display: none;
}
#searchStudent {
  /* border: 2ps solid red; */
}

/* .inputSearch{
  border-radius: 4em;
  padding: 10px;
  background-color: white;
} */
.inputAndIcon {
  border-radius: 4em;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  padding: -20px;
  height: 35px;
  margin-top: -16px;
  width: 200px;
}
.btn1 {
  border: none;
}
.btn1_all {
  width: 30;
  border: none;
  background-color: #0682bc;
  border-radius: 18px;
  color: white;
  width: 60px;
}

.MorningAfternoon {
  margin-left: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  background-color: #ebf0f2;
  border-radius: 4em;
  padding: 10px;
  height: fit-content;
}

#btn {
  text-align: center;
  margin-right: 20px;
}
.titleTravelsOnDay {
  font-size: 1em;
}
table tbody,
thead {
  font-family: "Segoe UI";
}
.name {
  font-family: "Assistant", sans-serif;
}
.numOfSummary_school {
  font-family: "Assistant", sans-serif;
}
.OnBus {
  color: blue;
}

.logout {
  position: absolute;
  bottom: 30px;
  /* z-index: 100; */
  width: 150px;
  height: 34px;
  background: #70cfe1 0% 0% no-repeat padding-box;
  /* padding: 10px 10px; */
  border-radius: 22px;
  /* margin-right: 10px; */
  opacity: 0.5;
  text-align: center;

  /* margin-top: 20px; */
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  background-color: #84848433;
}

.has-search {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.form-control {
  background-color: #86686833;
}
ul {
  padding: 0%;
}

.noStudentsFound {
  color: red;
  text-align: center;
  margin: 0 auto;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  color: green;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

h2 {
  color: green;
}
.div_school:hover {
  /* background-color: cadetblue; */
  background-color: #cbe0e9;
}
.div_school {
  /* border: none; */
  /* border-bottom: 1px solid black; */
}
.btnDetails {
  background-color: cyan;
}

.iconSearch {
  margin: auto;
  padding: 3px;
  width: 120px;
  border: none;
}

#iconSearch {
  margin-top: -20px;
  margin-left: 25px;
}
#iconSearch2 {
  margin-top: 6px;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
thead input {
  width: 100%;
}

#iconSearch {
  margin: auto;
  margin-left: 5px;
}

.no-outline:focus {
  outline: none;
}

#inputBuses {
  border: none;
  height: 25px;
  margin-top: -6px;
  background-color: white;
}
.numberOfSummary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.studentsOnBus {
  color: #0682bc;
  font-weight: 300;
  font-family: "Assistant", sans-serif;
}
.AllTravelsOfSchool {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.travelsWithExeption {
  color: red;
}
#svgNav {
  margin-left: 10px;
}

.container {
  background-color: #fcfcfc;
}
/* .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: none !important;
} */

#example,
#studentsDetails {
  table-layout: fixed;
  width: 100% !important;
}
/* #example td,
#example th {
  text-align: center;
  width: auto !important;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
} */

.noTravelsInthatTime {
  width: 200px;
  margin-right: 354%;
  margin-top: 30px;
  /* color: red; */
}
.titleDonutStudnets {
  font-family: "Assistant", sans-serif;
  font-weight: 800;
}
.h4_title {
  font-weight: bold;
}

.realDay {
  width: 50px;
  height: 30px;
  font-weight: bold;
  margin-top: 15px;
}
.datePeacker {
  align-self: flex-start;
}

.dayAndInputDate {
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 60%;
  gap: 6px;
}
.realTime {
  border-radius: 4em;

  width: 65px;
  height: 26px;
  margin-left: 10px;
  margin-top: 16px;
  border-radius: 4em;
  color: black;
  text-align: center;
  font-weight: bold;
}
.chart {
  margin-top: 10px;
}

@media screen and (min-width: 1340px) {
  .chart {
    margin-top: 40px;
  }
  .inputAndIcon {
    width: 300px;
  }
  .titleSchools {
    width: 300px;
  }
  #chart,
  #chart2 {
    margin-top: 30px;
  }
  .my_table {
    height: 500px;
  }
}

.containerTracks {
  width: 100%;
  /* max-width: 100%; */
  display: flex;
  /* grid-template-columns:15% 25% 60%; */
  flex-direction: row;
  /* justify-content: right; */
  /* margin-right: 0px; */
  box-sizing: content-box !important;
  direction: rtl;
  height: 100vh;
  margin-right: 0px;
  padding-right: 0px;
}

.box4 {
  width: 20%;
}
.box5 {
  width: 65%;
}
.tracks {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.div_Onetrack {
  border-bottom: 1px solid rgba(119, 122, 119, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nameAndNumber {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.numberTrack {
  font-weight: bold;
}
.nameTrack {
}

.timeAndNumbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: smaller;
}
.startTime_endTime {
}
.startTimeTrack {
}

.endTimeTrack {
}

.studentsOnTrack_notConfirms {
}
.studentsOnTrack {
}
.studentsNoConfirms {
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
  width: 872px;
}

.box3map {
  margin-left: 0px;
  margin-right: 0px;
}

.inputAndIconTrackTrack {
}

#myModal {
  width: 1100px;
  
  margin-left: 400px;
  margin-top: 30px;
  max-height: 80vh;
  height: auto;
}
.modal {
  max-width: 1200px !important;
  position: relative;
  margin-left: 100px;
}
.modal-dialog {
  width: 750px;
  font-family: "Assistant", sans-serif;
  border: none;
}
.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-family: "Assistant", sans-serif;
  font-size: 1.5em;
  border: none;
  border-bottom: none;
}
.nameAndNumberTrack {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.totalAndTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.totalStudentsModal {
  display: flex;
  flex-direction: row;
}
.timeAndDateModal {
  display: flex;
  flex-direction: row;
}
.modalNoConfirms {
  color: red;
  margin-right: 10px;
}

.numberOfTrack {
  /* margin-top: 9px; */
  margin-right: 8px;
}
#myModal {
  max-width: none;
  width: 750px;
}
td {
  text-align: center;
}
th {
  text-align: center;
}
.center {
  text-align: center;
}

.realTimeModal {
  border-radius: 4em;
  width: 65px;
  height: 26px;
  margin-left: 10px;
  border-radius: 4em;
  color: black;
  text-align: center;
  font-weight: bold;
}
.modal-content {
  border: none;
  border-bottom: none;
  /* margin-right: 145px; */
}

#signTrue {
  color: green;
}
#signFalse {
  color: red;
}
.tracks {
  width: 100%;
  padding: 15px;
}

.tracks::-webkit-scrollbar {
  direction: ltr;
  width: 2px;
}

.tracks::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  height: 250px;
}

.popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  border: 3px solid #666666;
  width: 300px;
  height: 100px;
  left: 50%;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}

.buttonPopup {
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  margin: 0.2rem;
  font-size: 1rem;
  color: #666666;
  background: #ffffff;
  border: 1px solid #666666;
}

.buttonPopup:hover {
  border: 1px solid #666666;
  background: #666666;
  color: #ffffff;
}

#td2 {
  width: 20%;
}

.no_spm {
  color: red;
}

#myModalLabel {
  text-align: center;
}

#myModal2 {
  width: 1360px;
  margin-top: 50px;
  margin-left: 5%;
  height: 90%;
}

/* .dataTables_filter, .dataTables_info{
  display: block;
} */
#tableOfAllStudents_filter {
  display: block;
}

#dt-button {
  margin-right: 1.333em;
}

#example_filter {
  display: none;
}

.bd-example-modal-lg .modal-dialog {
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}

#mymodal4 {
  position: fixed;
  top: 40%;
  left: 40%;
  /* margin-top: 25%;
 margin-left: 40%; */
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  /* outline: 0; */
  text-align: center;
  /* display: flex; */
}

.modal-content {
  width: 100%;
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
}

@media (min-width: 776px) {
  #myModal2 {
    margin-left: 10%;
  }
}

tr {
  text-align: center;
}

#modal-dialog-modal2 {
  width: 1100px;
}

.grey {
  opacity: 0.5;
}

.buttons-excel {
  color: #0682bc;
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: center;
}

#cell-icon {
  cursor: pointer;
}

body {
  table-layout: fixed;
}

/* table th:nth-child(3), td:nth-child(3) {
  display: none;
} */

#box4 {
  display: none;
  /* margin-top: 200px; */
  margin-right: 30px;
  margin-left: 30px;
  /* display: flex; */
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: #fcfcfc;
}

#datePeackerOfTracks {
  /* margin-top: 50px; */
  width: 30%;
  height: 100px;
  /* border: 2px solid red; */
  background-color: #0682bc;
}

#chart_tracks {
  border: 2px solid blue;
  width: 70%;
  height: 600px;
}

.bar-chart {
  background-color: #c7d9d9;
}
#my_dataviz {
  width: 100%;
  display: none;
  flex-direction: row;
}

.bar {
  fill: #0682bc;
}
.bar2 {
  fill: darksalmon;
}

#titleInput {
  background-color: #0682bc;
}

#container_input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#svg5 {
  display: none;
}

#changeDates {
  height: 30px;
  text-align: center;
  background-color: #28a7e2;
  border-radius: 8px;
}

/* #startDateLabel{
  margin-left: -32px;
} */

/* #endDateLabel{
  margin-left: -32px;
} */
#myModalMap {
  width: 1340px !important;
  height: 800px;
  /* display: block; */
  margin-left: 17%;
  margin-top: 3%;
}

.info-window {
  width: 130px;
  height: 120px;
  direction: rtl;
  text-align: right;
}

#map {
  width: 1100px;
  height: 600px;
}
/* 
#lowwidth{
  width: fit-content;
} */

